html {
  box-sizing: border-box;
  height: 100%;
  /* Enable smooth scrolling on the whole document */
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1, h2 {
  font-family: 'Fredoka One', "Comic Sans MS", "Chalkboard SE", "Comic Neue";
  letter-spacing: .02em;
}

header {
  margin-bottom: 80px;
  padding: 80px 10px 100px;
}

header>h6 {
  font-style: italic;
  letter-spacing: .1em;
  margin-top: -15px;
}

main {
  padding-bottom: 100px;
}

footer {
  padding: 30px 10px;
}

footer>h6 {
  line-height: 1.6;
  font-style: italic;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.min-height-300 {
  min-height: 300px;
}

.random-joke {
  margin-bottom: 80px
}

#random_joke {
  /* .teal.lighten-3 class from Materialize CSS */
  border-left-color: #80cbc4;
  margin-top: 40px;
  padding: 20px 30px;
}

.search-jokes {
  margin-bottom: 30px;
}

#search_input {
  font-size: 170%;
  padding-left: 8px;
}

.input-field>input::placeholder {
  /* .teal.lighten-4 class from Materialize CSS */
  color: #b2dfdb;
}

.pill-btn__box {
  margin-top: 0;
  max-width: 100%;
}

.pill-btn__box>.btn-small {
  border-radius: 16px;
  margin: 0 6px 8px 0;
  padding: 0 12px;
}

.pill-btn__box i.right {
  margin-left: 10px;
}

#joke_list>li>h4 {
  font-family: 'Fredoka One', "Comic Sans MS", "Chalkboard SE", "Comic Neue";
  letter-spacing: .02em;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  .pill-btn__box {
    margin-top: -50px;
    max-width: calc(100% - 240px);
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 65%;
  }
}